.logo{
    height: 85px;
    margin-left: 25px;
    margin-top: 18px;
    background-color: #74CEB7;
    border-radius: 105px;
    border: 3px solid #004056;
}

.row{
    background-color: #2C858D;
    height: 125px;
}

ul{
    margin-left: 255px;
    
