/* Background */
body {
    background-color: #74CEB7;
    padding: 8px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

/* Style Header */
h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

/* Style the searchbar */
.search-bar input[type=text] {
  float: left;
  padding: 8px;
  font-size: 16px;
  border: 3px solid #2C858D;
  margin: 20px 0px 20px 20px;
}

/* Style the search icon background */
#search-icon {
    background-color: #2C858D;
    border-top: 3px solid #2C858D;
    cursor: pointer;
    float: left;
    height: 46px;
    width: 45px;
    margin: 20px 20px 20px 0px;
    text-align: center;
    
    
}

#search-icon img {
    width:40px;
    float: left;
    
}

/* Style Top Discussion Board Topics Box */
.topic-box {
    border: 3px solid #2C858D;
    background-color: whitesmoke;
    margin: 5px 20px 20px 20px;
    padding: 10px;
    text-align: center;
    width: 61%;
    height: 380px;
}

.topics-title {
    font-weight: 500;
    font-size: 22px;
    margin: 0px 0px 10px 0px;
}

li {
    list-style-type: none;
    font-size: 18px;
    margin-left: -40px;
    cursor: pointer;
}

li:hover {
    color: #004056;
    text-decoration: underline;
}

/* Style the Discussion Board Post */
.discussion-box {
    border: 3px solid #2C858D;
    background-color: whitesmoke;
    margin: 5px;
    padding: 8px;
    font-size: 16px;
    height: 380px;
    width: 2500px;
}

.DB-title {
    font-size: 25px;
    text-align: center;
}

/* Style the Prompter Information */
.prompter-info {
    display: flex;
}

.prompter-profile {
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 0px;
    border-radius: 50%;
    border: 2px solid #2C858D;
}

.question {
    margin: 15px 0px 30px 0px;
    text-align: justify;
}

/* Style the responder's information */
.responder-info {
    display: flex;
    align-content: flex-start;
    height: 100%;   
}

.responder-profile {
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 100px;
    border-radius: 50%;
    border: 2px solid #2C858D;   
}

.answer {
    margin: 15px 0;
    text-align: justify;
}
/* Style to align DB topics with individual DB post */
.content {
    display: flex;
    flex-direction: row;
}